<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="navigation" [mode]="side">
    <mat-toolbar>Testing App</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.close()" mat-list-item routerLink="/">Home</a>
      <a (click)="drawer.close()" mat-list-item routerLink="/repositories">Repositories</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div>Testing App</div>
      <div fxFlex fxLayout fxLayoutAlign="flex-end">
        <u fxLayout fxLayoutGap="10px" class="navigation-items">
          <li> <a routerLink="/">Home</a>
          </li>
          <li> <a routerLink="/repositories">Repositories</a>
          </li>
        </u>
      </div>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
